In [127]:
import pandas as pd 
import numpy as np
data = pd.read_csv('/Users/christianmatthewgarduno/Downloads/streaming_titles_clean.csv')
data = data[["title", "director","cast","score",]]

Reducing the columns in the data set.

In [128]:
stats_data=data.sample(frac=.5,random_state=111)
norm_data = data.drop(stats_data.index)
director_scores = stats_data
cast_scores = stats_data.assign(cast=stats_data['cast'].str.split(',')).explode('cast')
cast_scores

,title,director,cast,score
5802,Dragons: Rescue Riders: Secrets of the Songwing,"Greg Rankin, TJ Sullivan",Noah Kaye Bentley,27.0
5802,Dragons: Rescue Riders: Secrets of the Songwing,"Greg Rankin, TJ Sullivan",Brennley Brown,27.0
5802,Dragons: Rescue Riders: Secrets of the Songwing,"Greg Rankin, TJ Sullivan",Zach Callison,27.0
5802,Dragons: Rescue Riders: Secrets of the Songwing,"Greg Rankin, TJ Sullivan",Nicolas Cantu,27.0
5802,Dragons: Rescue Riders: Secrets of the Songwing,"Greg Rankin, TJ Sullivan",Skai Jackson,27.0
...,...,...,...,...
5249,The Lost Pirate Kingdom,NaN,Mia Tomlinson,64.0
5249,The Lost Pirate Kingdom,NaN,Kevin Howarth,64.0
5249,The Lost Pirate Kingdom,NaN,Mark Gillis,64.0
5249,The Lost Pirate Kingdom,NaN,George Watkins,64.0
5249,The Lost Pirate Kingdom,NaN,Derek Jacobi,64.0

Here I split the main dataset into two, and from there set two seperate group bys one for directors and one for the cast memebers. For the cast members I had to split them because they were in a list.

In [129]:
cast_scores['Number_MoviesShows'] = cast_scores['cast'].apply(lambda x: (cast_scores['cast'] == x).sum())
director_scores['Number_MoviesShows'] = director_scores['director'].apply(lambda x: (director_scores['director'] == x).sum())

This function is suppose to account the number of movies or shows a cast member has been in as well as for the director split.

In [130]:
director_scores=director_scores.groupby(['director','Number_MoviesShows' ])['score'].mean()
director_scores = pd.DataFrame(director_scores).reset_index()
director_scores.columns = ['director', 'Number_MoviesShows_dir','dir_average_score']
cast_scores2=cast_scores.groupby(['cast','Number_MoviesShows'])['score'].mean()
cast_count = pd.DataFrame(cast_scores2).reset_index()
cast_count.columns = ['cast', 'Number_MoviesShows_cast','cast_average_score']
cast_count
director_scores

                        director  Number_MoviesShows_dir  dir_average_score
0               20th_century_fox                       1               58.0
1                    A. L. Vijay                       1               12.0
2                   A.J. Murugan                       1               28.0
3                A.R. Murugadoss                       1               45.0
4                     Aanand Rai                       1               60.0
...                          ...                     ...                ...
2900          Antonio Margheriti                       1                3.0
2901     Raoul Walsh, Mario Bava                       1               17.0
2902          Álex de la Iglesia                       1               65.0
2903  Álvaro Delgado-Aparicio L.                       1               64.0
2904           Étienne Chatiliez                       1               20.0

[2905 rows x 3 columns]

Converted from series due to group by back to dataframes. Cast_count is complete just needs to be merged with the other half of the parent dataset (don't have varaince at the moment). As well as Director Scores.

In [139]:
dir_tot = pd.merge(norm_data, director_scores, on='director')
total_data = pd.merge(dir_tot,cast_count,on='cast')
total_data

,title,director,cast,score,Number_MoviesShows_dir,dir_average_score,Number_MoviesShows_cast,cast_average_score
0,John Mulaney: New in Town,Ryan Polito,John Mulaney,79.0,4,50.500000,1,72.000000
1,John Mulaney: The Comeback Kid,Rhys Thomas,John Mulaney,84.0,1,72.000000,1,72.000000
2,Jeff Dunham: Controlled Chaos,"Michael Simon, Matthew McNeil",Jeff Dunham,53.0,1,32.000000,4,41.000000
3,Jeff Dunham: Relative Disaster,Michael Simon,Jeff Dunham,37.0,1,36.000000,4,41.000000
4,Iliza Shlesinger: War Paint,Jay Chapman,Iliza Shlesinger,40.0,5,27.400000,1,64.000000
5,Iliza Shlesinger: Unveiled,Steve Paley,Iliza Shlesinger,46.0,1,64.000000,1,64.000000
6,Iliza Shlesinger: Confirmed Kills,Bobcat Goldthwait,Iliza Shlesinger,57.0,2,41.000000,1,64.000000
7,Jim Gaffigan: Obsessed,Jay Chapman,Jim Gaffigan,64.0,5,27.400000,4,52.750000
8,Jim Gaffigan: King Baby,Troy Miller,Jim Gaffigan,58.0,2,28.000000,4,52.750000
9,Jim Gaffigan: Cinco,Jeannie Gaffigan,Jim Gaffigan,61.0,1,56.000000,4,52.750000
10,A Year in Burgundy,David Kennard,Martine Saunier,20.0,1,62.000000,1,62.000000
11,Eddie Griffin: You Can Tell 'Em I Said It,Jay Karas,Eddie Griffin,16.0,7,48.428571,1,73.000000
12,Ali Wong: Baby Cobra,Jay Karas,Ali Wong,77.0,7,48.428571,1,75.000000
13,Bill Burr: I'm Sorry You Feel That Way,Jay Karas,Bill Burr,84.0,7,48.428571,2,77.000000
14,Bill Burr: Let It Go,Shannon Hartman,Bill Burr,79.0,3,44.666667,2,77.000000
15,Marc Maron: End Times Fun,Lynn Shelton,Marc Maron,48.0,1,60.000000,2,54.500000
16,Nate Bargatze: The Greatest Average American,Troy Miller,Nate Bargatze,56.0,2,28.000000,1,47.000000
17,Jim Jefferies: Intolerant,Scott Zabielski,Jim Jefferies,58.0,2,52.500000,2,72.000000
18,Kevin Hart: I'm a Grown Little Man,Shannon Hartman,Kevin Hart,71.0,3,44.666667,4,62.000000
19,Jenny Slate: Stage Fright,Gillian Robespierre,Jenny Slate,53.0,1,74.000000,1,74.000000
20,The Hurt Business,Vlad Yudin,Kevin Costner,29.0,4,36.750000,3,68.333333
21,Dave Chappelle,Stan Lathan,Dave Chappelle,61.0,1,74.000000,2,54.500000
22,Joe Rogan: Strange Times,Anthony Giordano,Joe Rogan,70.0,1,67.000000,1,67.000000
23,Chelsea Handler: Uganda Be Kidding Me Live,James Yukich,Chelsea Handler,28.0,1,35.000000,2,42.000000
24,Dream Big: Engineering Our World,Greg MacGillivray,Jeff Bridges,40.0,1,45.000000,5,68.000000
25,Dolphin Reef,Keith Scholey,Natalie Portman,56.0,2,18.000000,4,53.500000
26,The Art of Skiing,Jack Kinney,John McLeish,47.0,4,37.750000,1,43.000000
27,Jungle Cat,James Algar,Winston Hibler,14.0,1,31.000000,2,19.500000
28,Secrets of Life,James Algar,Winston Hibler,11.0,1,31.000000,2,19.500000
29,The Living Desert,James Algar,Winston Hibler,50.0,1,31.000000,2,19.500000
30,The Vanishing Prairie,James Algar,Winston Hibler,32.0,1,31.000000,2,19.500000